<!Doctype html>
<html>
<head>
  <center>
    <h1>
  LETS VOTE
    </h1>
</head>
<body>
  <p>
  <a href="/info" class="btn btn-info" role="button">LIST OF ALL PARTIES</a>
  </p>
  <p>
  <a href="/vote" class="btn btn-info" role="button">CAST YOUR VOTE</a>
  </p>
  <div>
    <image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAgf4Xm35zBP3APQdGirc-_HdwEaNSYoGHPdF8REsFJgqEbJ79">
  </div>
</center>
</body>
</html>
