<!DOCTYPE html>
<html>
<body>
<center>
  <div>
<head>
  <h1>
  List of all parties
  </h1>
</head>
</div>
    <image src="http://2.bp.blogspot.com/-EC36NID4_Tw/VBcbiblKjhI/AAAAAAAAABs/Topwnm06Jo0/s1600/Picture1.jpg">
  </center>
</body>
</html>
